<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3176/3176366.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <style>

    .container{
        width: 50vw;
        margin-top: 25vh;
    }

  </style>
  <body>
    <div class="container">
      {% if msg|length != 0 %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Oops! </strong> {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    <form action="/login/" method='post'> {%csrf_token%}
        <div class="mb-3">
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oops! </strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          <label for="exampleInputPassword1" class="form-label">Username</label>
          <input type="name" name="username" class="form-control" id="username">
          We'll never share your information with anyone else.
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
          <label class="form-check-label" for="exampleCheck1">Don't have account <a style="text-decoration: none;" href="/signup/">please signup</a> </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>